@import url("https://fonts.googleapis.com/css2?family=Basic&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Basic";
}

/* Navbar */
.navbar {
  padding: 25px 100px !important;
  transition: 0.4s ease-in-out;
  align-items: center;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}
nav .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
  font-family: "Outfit";
  transition: 0.4s ease-in-out;
}
nav .navbar-brand:hover {
  color: red !important;
}
nav ul li{
  align-items: center;
}
nav ul li a {
  color: #000 !important;
  font-weight: 400;
  padding: 0px 8px !important;
  transition: 0.4s ease-in-out;
}
nav ul li a:hover {
  padding: 0 15px!important;
  color: #8c32f0 !important;
  font-weight: bold;
}
nav ul li .active {
  padding: 10px 15px !important;
  color: #fff !important;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%) !important;
}
nav ul li .active:hover{
  padding: 10px 15px !important;
  margin: 0 10px;
  color: #e73587 !important;
}

/* Logo Packed */
.button-wrapper{
  margin-top: -140px;
}
nav .square {
  position: absolute;
  z-index: 999;
  flex-direction: column;
}
.square .navbar-brand {
  margin-top: 20px;
  padding: 25px;
  height: 115px;
  background-color: #020e35 !important;
}
.square img {
  margin-top: 5px;
}
.square span {
  position: relative;
  z-index: 101px;
  height: 6px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%) !important;
}

/* addEventListener */
.navbar.sticky {
  z-index: 9999;
  padding: 25px 150px !important;
  background: #fff;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  transition: 0.6s ease-in-out;
}
nav.sticky ul li a {
  color: #000 !important;
}
nav.sticky ul li a:hover {
  color: linear-gradient(270deg, #8c32f0 0%, #e73587 100%) !important;
}
nav.sticky .navbar-brand {
  color: #000 !important;
}
nav .navbar-brand {
  position: relative;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  z-index: 9999;
}
nav .navbar-brand:hover {
  color: red !important;
}
nav.sticky .square .navbar-brand {
  margin-top: 20px;
}
nav.sticky ul li a {
  color: #000 !important;
  font-weight: 400;
  padding: 0px 8px !important;
  transition: 0.4s ease-in-out;
}
nav.sticky ul li a:hover {
  padding: 0 15px!important;
  color: #8c32f0 !important;
  font-weight: bold;
}
nav.sticky ul li .active{
  padding: 10px 15px !important;
  color: #fff !important;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%) !important;
}
nav.sticky ul li .active:hover{
  padding: 10px 15px !important;
  margin: 0 10px;
  color: #e73587 !important;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  background: #fff !important;
}
.jumbo-view {
  padding-left: 10% !important;
}
.jumbo-view .title-text {
  text-align: left;
  font-size: 97px;
  letter-spacing: 1px;
  font-family: "Basic";
  position: relative;
  z-index: 1;
}
.jumbo-view button {
  color: #fff;
  margin-top: -60px;
  padding: 10px 16px;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border-radius: 0;
}

/* Circle Span */
.circle {
  position: absolute;
  margin-top: -85px;
  margin-left: -138px;
  width: 276px;
  height: 276px;
  background: #f0f3fa !important;
  border-radius: 100%;
}

main {
  position: relative;
  z-index: 500;
}

/* About Us */
.about {
  position: relative;
}
#about-us .span-bottom {
  flex-direction: column;
}
#about-us .bor-bottom {
  margin: -5px auto;
  width: 110px;
  height: 3px;
  background-color: #e73587;
}
#about-us h1 {
  font-weight: 600;
}
#about-us .lead {
  margin: 20px auto;
  width: 800px;
  color: #000 !important;
  font-weight: 500;
}

/* Service */
#service {
  position: relative;
  z-index: -1;
  margin-top: 120px;
}
#service .span-bottom {
  flex-direction: column;
}
#service .bor-bottom {
  margin: -5px auto;
  width: 110px;
  height: 3px;
  background-color: #e73587;
}
#service h1 {
  font-weight: 600;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.product-list .card-a {
  background-color: #fdf8e3 !important;
}
.product-list .card-b {
  background-color: #f0f3fa !important;
}
.product-list .card-c {
  background-color: #feeff0 !important;
}
.card {
  width: 100%;
}
.card .card-body .card-title {
  font-size: 20px;
}
.card .card-body .lead {
  font-size: 20px;
  font-weight: 500;
  color: #000 !important;
}
.card-b .card-body {
  margin-top: 40px;
}
.card-c .card-body {
  margin-top: 45px;
}
.button-place {
  margin-top: 20px;
}
.button-place .btn {
  color: #fff;
  margin-top: -50px;
  padding: 10px 25px !important;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border-radius: 0;
  text-transform: uppercase;
}
.cards {
  align-items: center !important;
}
.cards > * {
  margin: 0 10px;
}

/* background-color */
.background {
  margin-top: -350px;
  width: 100%;
  position: absolute;
  height: 65vh;
  background-color: #020e35;
  z-index: -2;
}

/* Portofolios */
#portfolios {
  position: relative;
  z-index: -1;
  background: #020e35;
}
#portfolios .span-bottom {
  flex-direction: column;
}
#portfolios .bor-bottom {
  margin: -5px auto;
  width: 110px;
  height: 3px;
  background-color: #e73587;
}
#portfolios .title-text {
  color: #fff !important;
}
#portfolios .leads {
  margin-top: 15px;
  color: #fff !important;
}
#portfolios .lead {
  margin-top: 40px !important;
  color: #fff !important;
}
#portfolios .btn {
  color: #fff;
  padding: 10px 30px !important;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border-radius: 0;
}

/* contact-us */
#contact-us {
  position: relative;
  z-index: -1;
  padding: 100px 50px !important;
}
.contact-us .text-group .leads {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}
.container-fluid {
  padding: 0 100px !important;
}
.contact-us .text-group .title-text {
  margin: 0;
  padding: 0;
  font-size: 105px;
  font-weight: 500;
  font-family: "Basic";
}
.contact-us .text-group .title-text .pink {
  color: #e73587 !important;
}
form input {
  padding: 10px;
  width: 100%;
}
form textarea {
  width: 100%;
  padding: 10px;
}
form button {
  color: #fff !important;
  padding: 10px 30px !important;
  background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
  border-radius: 0;
}

@media screen and (max-width: 767px){
  nav{
    height: 70px;
    transition: 0.6s ease-in-out;
  }
  nav button{
    margin: 0!important;
    position: absolute;
    right: 40px;;
    z-index: 1000;
  }
  nav .square{
    position: absolute;
    z-index: -999;
    right: 20px;
    opacity: 0;
  }
  .button-wrapper{
    margin-top: -45px;
  }
  .jumbo-view .title-text{
    font-size: 4.8em;
  }
  #about-us{
    position: relative;
    z-index: 10000;
    justify-content: center;
  }
  #about-us .lead{
    width: 85%;
    padding: 0!important;
    text-align: center;
  }
  .product-list .card{
    justify-content: center;
  }
  #service .title-text{
    padding: 0 50px!important;
  }
  #portfolios .p-5 {
    padding: 0!important;
  }
  #portfolios .p-5 .row{
    justify-content: center;
  }
  .cards{
    flex-direction: column;
  }
  .cards .img img{
    width: 100%;
  }
  .cards > *{
    margin: 20px;
  }
  #contact-us .container-fluid{
    padding: 0!important;
  }

  .contact-us .text-group .leads{
    font-size: 1.5em;
  }
  .contact-us .text-group .title-text{
    font-size: 3.5em;
    margin-bottom: 50px;
  }
}
@media screen and (min-width:767px) and (max-width:1023px) {
  nav{
    height: 70px;
    transition: 0.6s ease-in-out;
  }
  nav button{
    margin: 0!important;
    position: absolute;
    right: 50px;;
    z-index: 1000;
  }
  nav .square{
    position: absolute;
    z-index: -999;
    top: -25px;
    left: 50px;
  }
  .button-wrapper{
    margin-top: -40px;
  }
  .cards{
    flex-direction: column;
  }
  .cards > *{
    margin: 20px;
  }
}
